html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: grey;
}

#map {
  height: 95%;
  overflow: visible;
}

#title {
  text-align: center;
}

#info-window {
  max-width: 300px;
}
#info-window img {
  max-width: 75%;
  max-height: 60%;
}

.menu {
  display: inline-block;
  position: fixed;
  z-index: 1;
  width: 20vw;
  max-width: 175px;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: grey;
  border-right: 1px solid black;
}

#toggle {
  display: block;
  position: fixed;
  font-size: 20px;
  top: 1px;
  right: 1px;
  border: none;
  background: none;
}

#toggle:hover {
  background-color: lightgrey;
  border: 1px solid black;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px 5px 10px 5px;
  justify-content: left;
  font-size: 20px;
  border-bottom: 1px solid lightgrey;
  max-width: 100%;
}

li:hover {
  background-color: orange;
  cursor: pointer;
  color: grey;
}

li:first-child {
  border-top: 1px solid lightgrey;
}

input {
  max-width: 85%;
  margin: 5%;
  content-align: center;
}
